<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.observacaodeaves">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera2" android:required="true"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>


    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ObservacaoDeAves">
        <activity android:name=".MelhoresResultados"></activity>
        <activity android:name=".AvesCatalogadasExpandida" />
        <activity android:name=".AvesCatalogadas" />
        <activity android:name=".CatalogarAves" />
        <activity android:name=".RegistrarAves" />
        <activity android:name=".FormLogin"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".TelaPerfil" />
        <activity android:name=".TelaPesquisa">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FormCadastro"/>
    </application>

</manifest>